# Ignore .png files
images/calendar_screenshot_cropped.png
images/calendar_screenshot.png

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment
venv/